In [3]:
paragraph = "this is the NLP session that is going on and finally we are happy. Is everyone happy. Google is company where we search and learn tech"

In [5]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\hp\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [14]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\hp\AppData\Roaming\nltk_data...

True

In [18]:
 sentences = nltk.sent_tokenize(paragraph)

In [7]:
nltk.word_tokenize(paragraph)

['this',
 'is',
 'the',
 'NLP',
 'session',
 'that',
 'is',
 'going',
 'on',
 'and',
 'finally',
 'we',
 'are',
 'happy',
 '.',
 'Is',
 'everyone',
 'happy',
 '.',
 'Google',
 'is',
 'company',
 'where',
 'we',
 'search',
 'and',
 'learn',
 'tech']

In [9]:
from nltk.stem import PorterStemmer

stemmer = PorterStemmer()

stemmer.stem("finally")

'final'

In [10]:
stemmer.stem("history")

'histori'

In [11]:
stemmer.stem("organization")

'organ'

stemming is the process of converting a word to their root form

In [12]:
from nltk.stem import WordNetLemmatizer

lemmatizer = WordNetLemmatizer()

In [16]:
lemmatizer.lemmatize("historical")

'historical'

In [17]:
lemmatizer.lemmatize("eating")

'eating'

In [21]:
corpus = []
for i in range(len(sentences)):
    words = nltk.word_tokenize(sentences[i])
    words = [stemmer.stem(word) for word in words]
    print(words)

['thi', 'is', 'the', 'nlp', 'session', 'that', 'is', 'go', 'on', 'and', 'final', 'we', 'are', 'happi', '.']
['is', 'everyon', 'happi', '.']
['googl', 'is', 'compani', 'where', 'we', 'search', 'and', 'learn', 'tech']

In [22]:
corpus = []
for i in range(len(sentences)):
    words = nltk.word_tokenize(sentences[i])
    words = [lemmatizer.lemmatize(word) for word in words]
    print(words)

['this', 'is', 'the', 'NLP', 'session', 'that', 'is', 'going', 'on', 'and', 'finally', 'we', 'are', 'happy', '.']
['Is', 'everyone', 'happy', '.']
['Google', 'is', 'company', 'where', 'we', 'search', 'and', 'learn', 'tech']

In [23]:
paragraph = """
Ratan Naval Tata (born 28 December 1937) is an Indian industrialist, philanthropist and former chairman of Tata Sons. He was a chairman of the Tata Group from 1990 to 2012, and interim chairman from October 2016 through February 2017. He continues to head its charitable trusts.[2][3] In 2008, he received the Padma Vibhushan, the second highest civilian honour in India, after receiving the Padma Bhushan, the third highest civilian honour in 2000.[4]

He is the son of Naval Tata, who was adopted by Ratanji Tata, son of Jamsetji Tata, the founder of the Tata Group. He graduated from the Cornell University College of Architecture with a bachelor's degree in architecture.[5] He joined Tata in 1961, where he worked on the shop floor of Tata Steel. He later succeeded J. R. D. Tata as chairman of Tata Sons upon the latter's retirement in 1991. Under his tenure the Tata Group acquired Tetley, Jaguar Land Rover, and Corus, in an attempt to turn Tata from a largely India-centric group into a global business. Tata is also one of the largest philanthropists in the world, having donated around 60–65% of his income to charity.

Ratan Tata is also a prolific investor and has made numerous investments in several startups. Tata has invested in over 30 start-ups to date, most in a personal capacity and some via his investment company
"""

In [24]:
paragraph

"\nRatan Naval Tata (born 28 December 1937) is an Indian industrialist, philanthropist and former chairman of Tata Sons. He was a chairman of the Tata Group from 1990 to 2012, and interim chairman from October 2016 through February 2017. He continues to head its charitable trusts.[2][3] In 2008, he received the Padma Vibhushan, the second highest civilian honour in India, after receiving the Padma Bhushan, the third highest civilian honour in 2000.[4]\n\nHe is the son of Naval Tata, who was adopted by Ratanji Tata, son of Jamsetji Tata, the founder of the Tata Group. He graduated from the Cornell University College of Architecture with a bachelor's degree in architecture.[5] He joined Tata in 1961, where he worked on the shop floor of Tata Steel. He later succeeded J. R. D. Tata as chairman of Tata Sons upon the latter's retirement in 1991. Under his tenure the Tata Group acquired Tetley, Jaguar Land Rover, and Corus, in an attempt to turn Tata from a largely India-centric group into a global business. Tata is also one of the largest philanthropists in the world, having donated around 60–65% of his income to charity.\n\nRatan Tata is also a prolific investor and has made numerous investments in several startups. Tata has invested in over 30 start-ups to date, most in a personal capacity and some via his investment company\n"

In [25]:
 sentences = nltk.sent_tokenize(paragraph)
sentences

['\nRatan Naval Tata (born 28 December 1937) is an Indian industrialist, philanthropist and former chairman of Tata Sons.',
 'He was a chairman of the Tata Group from 1990 to 2012, and interim chairman from October 2016 through February 2017.',
 'He continues to head its charitable trusts.',
 '[2][3] In 2008, he received the Padma Vibhushan, the second highest civilian honour in India, after receiving the Padma Bhushan, the third highest civilian honour in 2000.',
 '[4]\n\nHe is the son of Naval Tata, who was adopted by Ratanji Tata, son of Jamsetji Tata, the founder of the Tata Group.',
 "He graduated from the Cornell University College of Architecture with a bachelor's degree in architecture.",
 '[5] He joined Tata in 1961, where he worked on the shop floor of Tata Steel.',
 "He later succeeded J. R. D. Tata as chairman of Tata Sons upon the latter's retirement in 1991.",
 'Under his tenure the Tata Group acquired Tetley, Jaguar Land Rover, and Corus, in an attempt to turn Tata from a largely India-centric group into a global business.',
 'Tata is also one of the largest philanthropists in the world, having donated around 60–65% of his income to charity.',
 'Ratan Tata is also a prolific investor and has made numerous investments in several startups.',
 'Tata has invested in over 30 start-ups to date, most in a personal capacity and some via his investment company']

In [26]:
corpus = []
for i in range(len(sentences)):
    words = nltk.word_tokenize(sentences[i])
    words = [lemmatizer.lemmatize(word) for word in words]
    print(words)

['Ratan', 'Naval', 'Tata', '(', 'born', '28', 'December', '1937', ')', 'is', 'an', 'Indian', 'industrialist', ',', 'philanthropist', 'and', 'former', 'chairman', 'of', 'Tata', 'Sons', '.']
['He', 'wa', 'a', 'chairman', 'of', 'the', 'Tata', 'Group', 'from', '1990', 'to', '2012', ',', 'and', 'interim', 'chairman', 'from', 'October', '2016', 'through', 'February', '2017', '.']
['He', 'continues', 'to', 'head', 'it', 'charitable', 'trust', '.']
['[', '2', ']', '[', '3', ']', 'In', '2008', ',', 'he', 'received', 'the', 'Padma', 'Vibhushan', ',', 'the', 'second', 'highest', 'civilian', 'honour', 'in', 'India', ',', 'after', 'receiving', 'the', 'Padma', 'Bhushan', ',', 'the', 'third', 'highest', 'civilian', 'honour', 'in', '2000', '.']
['[', '4', ']', 'He', 'is', 'the', 'son', 'of', 'Naval', 'Tata', ',', 'who', 'wa', 'adopted', 'by', 'Ratanji', 'Tata', ',', 'son', 'of', 'Jamsetji', 'Tata', ',', 'the', 'founder', 'of', 'the', 'Tata', 'Group', '.']
['He', 'graduated', 'from', 'the', 'Cornell', 'University', 'College', 'of', 'Architecture', 'with', 'a', 'bachelor', "'s", 'degree', 'in', 'architecture', '.']
['[', '5', ']', 'He', 'joined', 'Tata', 'in', '1961', ',', 'where', 'he', 'worked', 'on', 'the', 'shop', 'floor', 'of', 'Tata', 'Steel', '.']
['He', 'later', 'succeeded', 'J.', 'R.', 'D.', 'Tata', 'a', 'chairman', 'of', 'Tata', 'Sons', 'upon', 'the', 'latter', "'s", 'retirement', 'in', '1991', '.']
['Under', 'his', 'tenure', 'the', 'Tata', 'Group', 'acquired', 'Tetley', ',', 'Jaguar', 'Land', 'Rover', ',', 'and', 'Corus', ',', 'in', 'an', 'attempt', 'to', 'turn', 'Tata', 'from', 'a', 'largely', 'India-centric', 'group', 'into', 'a', 'global', 'business', '.']
['Tata', 'is', 'also', 'one', 'of', 'the', 'largest', 'philanthropist', 'in', 'the', 'world', ',', 'having', 'donated', 'around', '60–65', '%', 'of', 'his', 'income', 'to', 'charity', '.']
['Ratan', 'Tata', 'is', 'also', 'a', 'prolific', 'investor', 'and', 'ha', 'made', 'numerous', 'investment', 'in', 'several', 'startup', '.']
['Tata', 'ha', 'invested', 'in', 'over', '30', 'start-ups', 'to', 'date', ',', 'most', 'in', 'a', 'personal', 'capacity', 'and', 'some', 'via', 'his', 'investment', 'company']

In [28]:
corpus = []
for i in range(len(sentences)):
    words = nltk.word_tokenize(sentences[i])
    words = [stemmer.stem(word) for word in words if not word in stop]
    print(words)

['ratan', 'naval', 'tata', '(', 'born', '28', 'decemb', '1937', ')', 'is', 'an', 'indian', 'industrialist', ',', 'philanthropist', 'and', 'former', 'chairman', 'of', 'tata', 'son', '.']
['he', 'wa', 'a', 'chairman', 'of', 'the', 'tata', 'group', 'from', '1990', 'to', '2012', ',', 'and', 'interim', 'chairman', 'from', 'octob', '2016', 'through', 'februari', '2017', '.']
['he', 'continu', 'to', 'head', 'it', 'charit', 'trust', '.']
['[', '2', ']', '[', '3', ']', 'in', '2008', ',', 'he', 'receiv', 'the', 'padma', 'vibhushan', ',', 'the', 'second', 'highest', 'civilian', 'honour', 'in', 'india', ',', 'after', 'receiv', 'the', 'padma', 'bhushan', ',', 'the', 'third', 'highest', 'civilian', 'honour', 'in', '2000', '.']
['[', '4', ']', 'he', 'is', 'the', 'son', 'of', 'naval', 'tata', ',', 'who', 'wa', 'adopt', 'by', 'ratanji', 'tata', ',', 'son', 'of', 'jamsetji', 'tata', ',', 'the', 'founder', 'of', 'the', 'tata', 'group', '.']
['he', 'graduat', 'from', 'the', 'cornel', 'univers', 'colleg', 'of', 'architectur', 'with', 'a', 'bachelor', "'s", 'degre', 'in', 'architectur', '.']
['[', '5', ']', 'he', 'join', 'tata', 'in', '1961', ',', 'where', 'he', 'work', 'on', 'the', 'shop', 'floor', 'of', 'tata', 'steel', '.']
['he', 'later', 'succeed', 'j.', 'r.', 'd.', 'tata', 'as', 'chairman', 'of', 'tata', 'son', 'upon', 'the', 'latter', "'s", 'retir', 'in', '1991', '.']
['under', 'hi', 'tenur', 'the', 'tata', 'group', 'acquir', 'tetley', ',', 'jaguar', 'land', 'rover', ',', 'and', 'coru', ',', 'in', 'an', 'attempt', 'to', 'turn', 'tata', 'from', 'a', 'larg', 'india-centr', 'group', 'into', 'a', 'global', 'busi', '.']
['tata', 'is', 'also', 'one', 'of', 'the', 'largest', 'philanthropist', 'in', 'the', 'world', ',', 'have', 'donat', 'around', '60–65', '%', 'of', 'hi', 'incom', 'to', 'chariti', '.']
['ratan', 'tata', 'is', 'also', 'a', 'prolif', 'investor', 'and', 'ha', 'made', 'numer', 'invest', 'in', 'sever', 'startup', '.']
['tata', 'ha', 'invest', 'in', 'over', '30', 'start-up', 'to', 'date', ',', 'most', 'in', 'a', 'person', 'capac', 'and', 'some', 'via', 'hi', 'invest', 'compani']

In [29]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\hp\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [32]:
from nltk.corpus import stopwords
stop_words = stopwords.words('english')

In [35]:
#removing stopwords from ccorpus
corpus = []
for i in range(len(sentences)):
    words = nltk.word_tokenize(sentences[i].lower())
    words = [stemmer.stem(word) for word in words if not word in stop_words]
    print(words)
    corpus.append(' '.join(words))

['ratan', 'naval', 'tata', '(', 'born', '28', 'decemb', '1937', ')', 'indian', 'industrialist', ',', 'philanthropist', 'former', 'chairman', 'tata', 'son', '.']
['chairman', 'tata', 'group', '1990', '2012', ',', 'interim', 'chairman', 'octob', '2016', 'februari', '2017', '.']
['continu', 'head', 'charit', 'trust', '.']
['[', '2', ']', '[', '3', ']', '2008', ',', 'receiv', 'padma', 'vibhushan', ',', 'second', 'highest', 'civilian', 'honour', 'india', ',', 'receiv', 'padma', 'bhushan', ',', 'third', 'highest', 'civilian', 'honour', '2000', '.']
['[', '4', ']', 'son', 'naval', 'tata', ',', 'adopt', 'ratanji', 'tata', ',', 'son', 'jamsetji', 'tata', ',', 'founder', 'tata', 'group', '.']
['graduat', 'cornel', 'univers', 'colleg', 'architectur', 'bachelor', "'s", 'degre', 'architectur', '.']
['[', '5', ']', 'join', 'tata', '1961', ',', 'work', 'shop', 'floor', 'tata', 'steel', '.']
['later', 'succeed', 'j.', 'r.', 'd.', 'tata', 'chairman', 'tata', 'son', 'upon', 'latter', "'s", 'retir', '1991', '.']
['tenur', 'tata', 'group', 'acquir', 'tetley', ',', 'jaguar', 'land', 'rover', ',', 'coru', ',', 'attempt', 'turn', 'tata', 'larg', 'india-centr', 'group', 'global', 'busi', '.']
['tata', 'also', 'one', 'largest', 'philanthropist', 'world', ',', 'donat', 'around', '60–65', '%', 'incom', 'chariti', '.']
['ratan', 'tata', 'also', 'prolif', 'investor', 'made', 'numer', 'invest', 'sever', 'startup', '.']
['tata', 'invest', '30', 'start-up', 'date', ',', 'person', 'capac', 'via', 'invest', 'compani']

In [36]:
corpus

['ratan naval tata ( born 28 decemb 1937 ) indian industrialist , philanthropist former chairman tata son .',
 'chairman tata group 1990 2012 , interim chairman octob 2016 februari 2017 .',
 'continu head charit trust .',
 '[ 2 ] [ 3 ] 2008 , receiv padma vibhushan , second highest civilian honour india , receiv padma bhushan , third highest civilian honour 2000 .',
 '[ 4 ] son naval tata , adopt ratanji tata , son jamsetji tata , founder tata group .',
 "graduat cornel univers colleg architectur bachelor 's degre architectur .",
 '[ 5 ] join tata 1961 , work shop floor tata steel .',
 "later succeed j. r. d. tata chairman tata son upon latter 's retir 1991 .",
 'tenur tata group acquir tetley , jaguar land rover , coru , attempt turn tata larg india-centr group global busi .',
 'tata also one largest philanthropist world , donat around 60–65 % incom chariti .',
 'ratan tata also prolif investor made numer invest sever startup .',
 'tata invest 30 start-up date , person capac via invest compani']