In [3]:
paragraph = "this is the NLP session that is going on and finally we are happy. Is everyone happy. Google is company where we search and learn tech"

In [4]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\hp\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [5]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\hp\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [6]:
 sentences = nltk.sent_tokenize(paragraph)

In [7]:
nltk.word_tokenize(paragraph)

['this',
 'is',
 'the',
 'NLP',
 'session',
 'that',
 'is',
 'going',
 'on',
 'and',
 'finally',
 'we',
 'are',
 'happy',
 '.',
 'Is',
 'everyone',
 'happy',
 '.',
 'Google',
 'is',
 'company',
 'where',
 'we',
 'search',
 'and',
 'learn',
 'tech']

In [8]:
from nltk.stem import PorterStemmer

stemmer = PorterStemmer()

stemmer.stem("finally")

'final'

In [9]:
stemmer.stem("history")

'histori'

In [10]:
stemmer.stem("organization")

'organ'

stemming is the process of converting a word to their root form

In [11]:
from nltk.stem import WordNetLemmatizer

lemmatizer = WordNetLemmatizer()

In [12]:
lemmatizer.lemmatize("historical")

'historical'

In [13]:
lemmatizer.lemmatize("eating")

'eating'

In [14]:
corpus = []
for i in range(len(sentences)):
    words = nltk.word_tokenize(sentences[i])
    words = [stemmer.stem(word) for word in words]
    print(words)

['thi', 'is', 'the', 'nlp', 'session', 'that', 'is', 'go', 'on', 'and', 'final', 'we', 'are', 'happi', '.']
['is', 'everyon', 'happi', '.']
['googl', 'is', 'compani', 'where', 'we', 'search', 'and', 'learn', 'tech']

In [15]:
corpus = []
for i in range(len(sentences)):
    words = nltk.word_tokenize(sentences[i])
    words = [lemmatizer.lemmatize(word) for word in words]
    print(words)

['this', 'is', 'the', 'NLP', 'session', 'that', 'is', 'going', 'on', 'and', 'finally', 'we', 'are', 'happy', '.']
['Is', 'everyone', 'happy', '.']
['Google', 'is', 'company', 'where', 'we', 'search', 'and', 'learn', 'tech']

In [16]:
paragraph = """
Ratan Naval Tata (born 28 December 1937) is an Indian industrialist, philanthropist and former chairman of Tata Sons. He was a chairman of the Tata Group from 1990 to 2012, and interim chairman from October 2016 through February 2017. He continues to head its charitable trusts.[2][3] In 2008, he received the Padma Vibhushan, the second highest civilian honour in India, after receiving the Padma Bhushan, the third highest civilian honour in 2000.[4]

He is the son of Naval Tata, who was adopted by Ratanji Tata, son of Jamsetji Tata, the founder of the Tata Group. He graduated from the Cornell University College of Architecture with a bachelor's degree in architecture.[5] He joined Tata in 1961, where he worked on the shop floor of Tata Steel. He later succeeded J. R. D. Tata as chairman of Tata Sons upon the latter's retirement in 1991. Under his tenure the Tata Group acquired Tetley, Jaguar Land Rover, and Corus, in an attempt to turn Tata from a largely India-centric group into a global business. Tata is also one of the largest philanthropists in the world, having donated around 60–65% of his income to charity.

Ratan Tata is also a prolific investor and has made numerous investments in several startups. Tata has invested in over 30 start-ups to date, most in a personal capacity and some via his investment company
"""

In [17]:
paragraph

"\nRatan Naval Tata (born 28 December 1937) is an Indian industrialist, philanthropist and former chairman of Tata Sons. He was a chairman of the Tata Group from 1990 to 2012, and interim chairman from October 2016 through February 2017. He continues to head its charitable trusts.[2][3] In 2008, he received the Padma Vibhushan, the second highest civilian honour in India, after receiving the Padma Bhushan, the third highest civilian honour in 2000.[4]\n\nHe is the son of Naval Tata, who was adopted by Ratanji Tata, son of Jamsetji Tata, the founder of the Tata Group. He graduated from the Cornell University College of Architecture with a bachelor's degree in architecture.[5] He joined Tata in 1961, where he worked on the shop floor of Tata Steel. He later succeeded J. R. D. Tata as chairman of Tata Sons upon the latter's retirement in 1991. Under his tenure the Tata Group acquired Tetley, Jaguar Land Rover, and Corus, in an attempt to turn Tata from a largely India-centric group into a global business. Tata is also one of the largest philanthropists in the world, having donated around 60–65% of his income to charity.\n\nRatan Tata is also a prolific investor and has made numerous investments in several startups. Tata has invested in over 30 start-ups to date, most in a personal capacity and some via his investment company\n"

In [18]:
 sentences = nltk.sent_tokenize(paragraph)
sentences

['\nRatan Naval Tata (born 28 December 1937) is an Indian industrialist, philanthropist and former chairman of Tata Sons.',
 'He was a chairman of the Tata Group from 1990 to 2012, and interim chairman from October 2016 through February 2017.',
 'He continues to head its charitable trusts.',
 '[2][3] In 2008, he received the Padma Vibhushan, the second highest civilian honour in India, after receiving the Padma Bhushan, the third highest civilian honour in 2000.',
 '[4]\n\nHe is the son of Naval Tata, who was adopted by Ratanji Tata, son of Jamsetji Tata, the founder of the Tata Group.',
 "He graduated from the Cornell University College of Architecture with a bachelor's degree in architecture.",
 '[5] He joined Tata in 1961, where he worked on the shop floor of Tata Steel.',
 "He later succeeded J. R. D. Tata as chairman of Tata Sons upon the latter's retirement in 1991.",
 'Under his tenure the Tata Group acquired Tetley, Jaguar Land Rover, and Corus, in an attempt to turn Tata from a largely India-centric group into a global business.',
 'Tata is also one of the largest philanthropists in the world, having donated around 60–65% of his income to charity.',
 'Ratan Tata is also a prolific investor and has made numerous investments in several startups.',
 'Tata has invested in over 30 start-ups to date, most in a personal capacity and some via his investment company']

In [19]:
corpus = []
for i in range(len(sentences)):
    words = nltk.word_tokenize(sentences[i])
    words = [lemmatizer.lemmatize(word) for word in words]
    print(words)

['Ratan', 'Naval', 'Tata', '(', 'born', '28', 'December', '1937', ')', 'is', 'an', 'Indian', 'industrialist', ',', 'philanthropist', 'and', 'former', 'chairman', 'of', 'Tata', 'Sons', '.']
['He', 'wa', 'a', 'chairman', 'of', 'the', 'Tata', 'Group', 'from', '1990', 'to', '2012', ',', 'and', 'interim', 'chairman', 'from', 'October', '2016', 'through', 'February', '2017', '.']
['He', 'continues', 'to', 'head', 'it', 'charitable', 'trust', '.']
['[', '2', ']', '[', '3', ']', 'In', '2008', ',', 'he', 'received', 'the', 'Padma', 'Vibhushan', ',', 'the', 'second', 'highest', 'civilian', 'honour', 'in', 'India', ',', 'after', 'receiving', 'the', 'Padma', 'Bhushan', ',', 'the', 'third', 'highest', 'civilian', 'honour', 'in', '2000', '.']
['[', '4', ']', 'He', 'is', 'the', 'son', 'of', 'Naval', 'Tata', ',', 'who', 'wa', 'adopted', 'by', 'Ratanji', 'Tata', ',', 'son', 'of', 'Jamsetji', 'Tata', ',', 'the', 'founder', 'of', 'the', 'Tata', 'Group', '.']
['He', 'graduated', 'from', 'the', 'Cornell', 'University', 'College', 'of', 'Architecture', 'with', 'a', 'bachelor', "'s", 'degree', 'in', 'architecture', '.']
['[', '5', ']', 'He', 'joined', 'Tata', 'in', '1961', ',', 'where', 'he', 'worked', 'on', 'the', 'shop', 'floor', 'of', 'Tata', 'Steel', '.']
['He', 'later', 'succeeded', 'J.', 'R.', 'D.', 'Tata', 'a', 'chairman', 'of', 'Tata', 'Sons', 'upon', 'the', 'latter', "'s", 'retirement', 'in', '1991', '.']
['Under', 'his', 'tenure', 'the', 'Tata', 'Group', 'acquired', 'Tetley', ',', 'Jaguar', 'Land', 'Rover', ',', 'and', 'Corus', ',', 'in', 'an', 'attempt', 'to', 'turn', 'Tata', 'from', 'a', 'largely', 'India-centric', 'group', 'into', 'a', 'global', 'business', '.']
['Tata', 'is', 'also', 'one', 'of', 'the', 'largest', 'philanthropist', 'in', 'the', 'world', ',', 'having', 'donated', 'around', '60–65', '%', 'of', 'his', 'income', 'to', 'charity', '.']
['Ratan', 'Tata', 'is', 'also', 'a', 'prolific', 'investor', 'and', 'ha', 'made', 'numerous', 'investment', 'in', 'several', 'startup', '.']
['Tata', 'ha', 'invested', 'in', 'over', '30', 'start-ups', 'to', 'date', ',', 'most', 'in', 'a', 'personal', 'capacity', 'and', 'some', 'via', 'his', 'investment', 'company']

In [23]:
corpus = []
for i in range(len(sentences)):
    words = nltk.word_tokenize(sentences[i])
    words = [stemmer.stem(word) for word in words if not word in stop_words]
    print(words)

['ratan', 'naval', 'tata', '(', 'born', '28', 'decemb', '1937', ')', 'indian', 'industrialist', ',', 'philanthropist', 'former', 'chairman', 'tata', 'son', '.']
['he', 'chairman', 'tata', 'group', '1990', '2012', ',', 'interim', 'chairman', 'octob', '2016', 'februari', '2017', '.']
['he', 'continu', 'head', 'charit', 'trust', '.']
['[', '2', ']', '[', '3', ']', 'in', '2008', ',', 'receiv', 'padma', 'vibhushan', ',', 'second', 'highest', 'civilian', 'honour', 'india', ',', 'receiv', 'padma', 'bhushan', ',', 'third', 'highest', 'civilian', 'honour', '2000', '.']
['[', '4', ']', 'he', 'son', 'naval', 'tata', ',', 'adopt', 'ratanji', 'tata', ',', 'son', 'jamsetji', 'tata', ',', 'founder', 'tata', 'group', '.']
['he', 'graduat', 'cornel', 'univers', 'colleg', 'architectur', 'bachelor', "'s", 'degre', 'architectur', '.']
['[', '5', ']', 'he', 'join', 'tata', '1961', ',', 'work', 'shop', 'floor', 'tata', 'steel', '.']
['he', 'later', 'succeed', 'j.', 'r.', 'd.', 'tata', 'chairman', 'tata', 'son', 'upon', 'latter', "'s", 'retir', '1991', '.']
['under', 'tenur', 'tata', 'group', 'acquir', 'tetley', ',', 'jaguar', 'land', 'rover', ',', 'coru', ',', 'attempt', 'turn', 'tata', 'larg', 'india-centr', 'group', 'global', 'busi', '.']
['tata', 'also', 'one', 'largest', 'philanthropist', 'world', ',', 'donat', 'around', '60–65', '%', 'incom', 'chariti', '.']
['ratan', 'tata', 'also', 'prolif', 'investor', 'made', 'numer', 'invest', 'sever', 'startup', '.']
['tata', 'invest', '30', 'start-up', 'date', ',', 'person', 'capac', 'via', 'invest', 'compani']

In [21]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\hp\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [24]:
from nltk.corpus import stopwords
stop_words = stopwords.words('english')

In [32]:
#removing stopwords from ccorpus
corpus = []
for i in range(len(sentences)):
    words = nltk.word_tokenize(sentences[i].lower())
    words = [stemmer.stem(word) for word in words if not word in stop_words]
    print(words)
    corpus.append(' '.join(words))

['ratan', 'naval', 'tata', '(', 'born', '28', 'decemb', '1937', ')', 'indian', 'industrialist', ',', 'philanthropist', 'former', 'chairman', 'tata', 'son', '.']
['chairman', 'tata', 'group', '1990', '2012', ',', 'interim', 'chairman', 'octob', '2016', 'februari', '2017', '.']
['continu', 'head', 'charit', 'trust', '.']
['[', '2', ']', '[', '3', ']', '2008', ',', 'receiv', 'padma', 'vibhushan', ',', 'second', 'highest', 'civilian', 'honour', 'india', ',', 'receiv', 'padma', 'bhushan', ',', 'third', 'highest', 'civilian', 'honour', '2000', '.']
['[', '4', ']', 'son', 'naval', 'tata', ',', 'adopt', 'ratanji', 'tata', ',', 'son', 'jamsetji', 'tata', ',', 'founder', 'tata', 'group', '.']
['graduat', 'cornel', 'univers', 'colleg', 'architectur', 'bachelor', "'s", 'degre', 'architectur', '.']
['[', '5', ']', 'join', 'tata', '1961', ',', 'work', 'shop', 'floor', 'tata', 'steel', '.']
['later', 'succeed', 'j.', 'r.', 'd.', 'tata', 'chairman', 'tata', 'son', 'upon', 'latter', "'s", 'retir', '1991', '.']
['tenur', 'tata', 'group', 'acquir', 'tetley', ',', 'jaguar', 'land', 'rover', ',', 'coru', ',', 'attempt', 'turn', 'tata', 'larg', 'india-centr', 'group', 'global', 'busi', '.']
['tata', 'also', 'one', 'largest', 'philanthropist', 'world', ',', 'donat', 'around', '60–65', '%', 'incom', 'chariti', '.']
['ratan', 'tata', 'also', 'prolif', 'investor', 'made', 'numer', 'invest', 'sever', 'startup', '.']
['tata', 'invest', '30', 'start-up', 'date', ',', 'person', 'capac', 'via', 'invest', 'compani']

In [26]:
corpus

['ratan naval tata ( born 28 decemb 1937 ) indian industrialist , philanthropist former chairman tata son .',
 'chairman tata group 1990 2012 , interim chairman octob 2016 februari 2017 .',
 'continu head charit trust .',
 '[ 2 ] [ 3 ] 2008 , receiv padma vibhushan , second highest civilian honour india , receiv padma bhushan , third highest civilian honour 2000 .',
 '[ 4 ] son naval tata , adopt ratanji tata , son jamsetji tata , founder tata group .',
 "graduat cornel univers colleg architectur bachelor 's degre architectur .",
 '[ 5 ] join tata 1961 , work shop floor tata steel .',
 "later succeed j. r. d. tata chairman tata son upon latter 's retir 1991 .",
 'tenur tata group acquir tetley , jaguar land rover , coru , attempt turn tata larg india-centr group global busi .',
 'tata also one largest philanthropist world , donat around 60–65 % incom chariti .',
 'ratan tata also prolif investor made numer invest sever startup .',
 'tata invest 30 start-up date , person capac via invest compani']

In [27]:
from sklearn.feature_extraction.text import CountVectorizer

In [30]:
sentences

['\nRatan Naval Tata (born 28 December 1937) is an Indian industrialist, philanthropist and former chairman of Tata Sons.',
 'He was a chairman of the Tata Group from 1990 to 2012, and interim chairman from October 2016 through February 2017.',
 'He continues to head its charitable trusts.',
 '[2][3] In 2008, he received the Padma Vibhushan, the second highest civilian honour in India, after receiving the Padma Bhushan, the third highest civilian honour in 2000.',
 '[4]\n\nHe is the son of Naval Tata, who was adopted by Ratanji Tata, son of Jamsetji Tata, the founder of the Tata Group.',
 "He graduated from the Cornell University College of Architecture with a bachelor's degree in architecture.",
 '[5] He joined Tata in 1961, where he worked on the shop floor of Tata Steel.',
 "He later succeeded J. R. D. Tata as chairman of Tata Sons upon the latter's retirement in 1991.",
 'Under his tenure the Tata Group acquired Tetley, Jaguar Land Rover, and Corus, in an attempt to turn Tata from a largely India-centric group into a global business.',
 'Tata is also one of the largest philanthropists in the world, having donated around 60–65% of his income to charity.',
 'Ratan Tata is also a prolific investor and has made numerous investments in several startups.',
 'Tata has invested in over 30 start-ups to date, most in a personal capacity and some via his investment company']

In [29]:
# import re
# corpus = []
# for i in range(len(sentences)):
#     text =re.sub('[^a-zA-Z0-9]',' ',sentences[i])
#     text = text.lower()
#     text = text.split()
#     words = [stemmer.stem(word) for word in words if not word in stop_words]
#     print(words)
#     corpus.append(' '.join(words))

['tata', 'invest', '30', 'start-up', 'date', ',', 'person', 'capac', 'via', 'invest', 'compani']
['tata', 'invest', '30', 'start-up', 'date', ',', 'person', 'capac', 'via', 'invest', 'compani']
['tata', 'invest', '30', 'start-up', 'date', ',', 'person', 'capac', 'via', 'invest', 'compani']
['tata', 'invest', '30', 'start-up', 'date', ',', 'person', 'capac', 'via', 'invest', 'compani']
['tata', 'invest', '30', 'start-up', 'date', ',', 'person', 'capac', 'via', 'invest', 'compani']
['tata', 'invest', '30', 'start-up', 'date', ',', 'person', 'capac', 'via', 'invest', 'compani']
['tata', 'invest', '30', 'start-up', 'date', ',', 'person', 'capac', 'via', 'invest', 'compani']
['tata', 'invest', '30', 'start-up', 'date', ',', 'person', 'capac', 'via', 'invest', 'compani']
['tata', 'invest', '30', 'start-up', 'date', ',', 'person', 'capac', 'via', 'invest', 'compani']
['tata', 'invest', '30', 'start-up', 'date', ',', 'person', 'capac', 'via', 'invest', 'compani']
['tata', 'invest', '30', 'start-up', 'date', ',', 'person', 'capac', 'via', 'invest', 'compani']
['tata', 'invest', '30', 'start-up', 'date', ',', 'person', 'capac', 'via', 'invest', 'compani']

In [33]:
corpus

['ratan naval tata ( born 28 decemb 1937 ) indian industrialist , philanthropist former chairman tata son .',
 'chairman tata group 1990 2012 , interim chairman octob 2016 februari 2017 .',
 'continu head charit trust .',
 '[ 2 ] [ 3 ] 2008 , receiv padma vibhushan , second highest civilian honour india , receiv padma bhushan , third highest civilian honour 2000 .',
 '[ 4 ] son naval tata , adopt ratanji tata , son jamsetji tata , founder tata group .',
 "graduat cornel univers colleg architectur bachelor 's degre architectur .",
 '[ 5 ] join tata 1961 , work shop floor tata steel .',
 "later succeed j. r. d. tata chairman tata son upon latter 's retir 1991 .",
 'tenur tata group acquir tetley , jaguar land rover , coru , attempt turn tata larg india-centr group global busi .',
 'tata also one largest philanthropist world , donat around 60–65 % incom chariti .',
 'ratan tata also prolif investor made numer invest sever startup .',
 'tata invest 30 start-up date , person capac via invest compani']

In [42]:
cv = CountVectorizer(binary =True,ngram_range=(1,2))
#unigram and bigram both wll be there
cv.fit_transform(corpus).toarray()

array([[1, 1, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 1, 1],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [43]:
#applied Bag of Words
cv.vocabulary_

{'ratan': 148,
 'naval': 130,
 'tata': 175,
 'born': 40,
 '28': 15,
 'decemb': 66,
 '1937': 0,
 'indian': 100,
 'industrialist': 102,
 'philanthropist': 143,
 'former': 76,
 'chairman': 47,
 'son': 165,
 'ratan naval': 149,
 'naval tata': 131,
 'tata born': 179,
 'born 28': 41,
 '28 decemb': 16,
 'decemb 1937': 67,
 '1937 indian': 1,
 'indian industrialist': 101,
 'industrialist philanthropist': 103,
 'philanthropist former': 144,
 'former chairman': 77,
 'chairman tata': 49,
 'tata son': 185,
 'group': 84,
 '1990': 4,
 '2012': 10,
 'interim': 104,
 'octob': 134,
 '2016': 12,
 'februari': 72,
 '2017': 14,
 'tata group': 182,
 'group 1990': 85,
 '1990 2012': 5,
 '2012 interim': 11,
 'interim chairman': 105,
 'chairman octob': 48,
 'octob 2016': 135,
 '2016 februari': 13,
 'februari 2017': 73,
 'continu': 58,
 'head': 88,
 'charit': 50,
 'trust': 193,
 'continu head': 59,
 'head charit': 89,
 'charit trust': 51,
 '2008': 8,
 'receiv': 153,
 'padma': 138,
 'vibhushan': 204,
 'second': 159,
 'highest': 90,
 'civilian': 53,
 'honour': 92,
 'india': 97,
 'bhushan': 38,
 'third': 191,
 '2000': 7,
 '2008 receiv': 9,
 'receiv padma': 154,
 'padma vibhushan': 140,
 'vibhushan second': 205,
 'second highest': 160,
 'highest civilian': 91,
 'civilian honour': 54,
 'honour india': 94,
 'india receiv': 99,
 'padma bhushan': 139,
 'bhushan third': 39,
 'third highest': 192,
 'honour 2000': 93,
 'adopt': 25,
 'ratanji': 151,
 'jamsetji': 114,
 'founder': 78,
 'son naval': 167,
 'tata adopt': 177,
 'adopt ratanji': 26,
 'ratanji tata': 152,
 'son jamsetji': 166,
 'jamsetji tata': 115,
 'tata founder': 181,
 'founder tata': 79,
 'graduat': 82,
 'cornel': 60,
 'univers': 196,
 'colleg': 55,
 'architectur': 30,
 'bachelor': 36,
 'degre': 68,
 'graduat cornel': 83,
 'cornel univers': 61,
 'univers colleg': 197,
 'colleg architectur': 56,
 'architectur bachelor': 31,
 'bachelor degre': 37,
 'degre architectur': 69,
 'join': 116,
 '1961': 2,
 'work': 206,
 'shop': 163,
 'floor': 74,
 'steel': 172,
 'join tata': 117,
 'tata 1961': 176,
 '1961 work': 3,
 'work shop': 207,
 'shop floor': 164,
 'floor tata': 75,
 'tata steel': 186,
 'later': 124,
 'succeed': 173,
 'upon': 200,
 'latter': 126,
 'retir': 155,
 '1991': 6,
 'later succeed': 125,
 'succeed tata': 174,
 'tata chairman': 180,
 'son upon': 168,
 'upon latter': 201,
 'latter retir': 127,
 'retir 1991': 156,
 'tenur': 187,
 'acquir': 23,
 'tetley': 189,
 'jaguar': 112,
 'land': 118,
 'rover': 157,
 'coru': 62,
 'attempt': 34,
 'turn': 194,
 'larg': 120,
 'centr': 45,
 'global': 80,
 'busi': 42,
 'tenur tata': 188,
 'group acquir': 86,
 'acquir tetley': 24,
 'tetley jaguar': 190,
 'jaguar land': 113,
 'land rover': 119,
 'rover coru': 158,
 'coru attempt': 63,
 'attempt turn': 35,
 'turn tata': 195,
 'tata larg': 184,
 'larg india': 121,
 'india centr': 98,
 'centr group': 46,
 'group global': 87,
 'global busi': 81,
 'also': 27,
 'one': 136,
 'largest': 122,
 'world': 208,
 'donat': 70,
 'around': 32,
 '60': 19,
 '65': 21,
 'incom': 95,
 'chariti': 52,
 'tata also': 178,
 'also one': 28,
 'one largest': 137,
 'largest philanthropist': 123,
 'philanthropist world': 145,
 'world donat': 209,
 'donat around': 71,
 'around 60': 33,
 '60 65': 20,
 '65 incom': 22,
 'incom chariti': 96,
 'prolif': 146,
 'investor': 110,
 'made': 128,
 'numer': 132,
 'invest': 106,
 'sever': 161,
 'startup': 171,
 'ratan tata': 150,
 'also prolif': 29,
 'prolif investor': 147,
 'investor made': 111,
 'made numer': 129,
 'numer invest': 133,
 'invest sever': 109,
 'sever startup': 162,
 '30': 17,
 'start': 169,
 'up': 198,
 'date': 64,
 'person': 141,
 'capac': 43,
 'via': 202,
 'compani': 57,
 'tata invest': 183,
 'invest 30': 107,
 '30 start': 18,
 'start up': 170,
 'up date': 199,
 'date person': 65,
 'person capac': 142,
 'capac via': 44,
 'via invest': 203,
 'invest compani': 108}

In [45]:
cv.fit_transform(corpus).toarray().shape

(12, 210)

In [47]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [48]:
tf_idf = TfidfVectorizer()

In [49]:
tf_idf.fit_transform(corpus).toarray()

array([[0.29965613, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.31511309, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.30616223],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [50]:
tf_idf.vocabulary_

{'ratan': 72,
 'naval': 64,
 'tata': 85,
 'born': 21,
 '28': 9,
 'decemb': 35,
 '1937': 0,
 'indian': 50,
 'industrialist': 51,
 'philanthropist': 70,
 'former': 40,
 'chairman': 25,
 'son': 80,
 'group': 44,
 '1990': 2,
 '2012': 6,
 'interim': 52,
 'octob': 66,
 '2016': 7,
 'februari': 38,
 '2017': 8,
 'continu': 31,
 'head': 45,
 'charit': 26,
 'trust': 89,
 '2008': 5,
 'receiv': 74,
 'padma': 68,
 'vibhushan': 95,
 'second': 77,
 'highest': 46,
 'civilian': 28,
 'honour': 47,
 'india': 49,
 'bhushan': 20,
 'third': 88,
 '2000': 4,
 'adopt': 14,
 'ratanji': 73,
 'jamsetji': 56,
 'founder': 41,
 'graduat': 43,
 'cornel': 32,
 'univers': 91,
 'colleg': 29,
 'architectur': 16,
 'bachelor': 19,
 'degre': 36,
 'join': 57,
 '1961': 1,
 'work': 96,
 'shop': 79,
 'floor': 39,
 'steel': 83,
 'later': 61,
 'succeed': 84,
 'upon': 93,
 'latter': 62,
 'retir': 75,
 '1991': 3,
 'tenur': 86,
 'acquir': 13,
 'tetley': 87,
 'jaguar': 55,
 'land': 58,
 'rover': 76,
 'coru': 33,
 'attempt': 18,
 'turn': 90,
 'larg': 59,
 'centr': 24,
 'global': 42,
 'busi': 22,
 'also': 15,
 'one': 67,
 'largest': 60,
 'world': 97,
 'donat': 37,
 'around': 17,
 '60': 11,
 '65': 12,
 'incom': 48,
 'chariti': 27,
 'prolif': 71,
 'investor': 54,
 'made': 63,
 'numer': 65,
 'invest': 53,
 'sever': 78,
 'startup': 82,
 '30': 10,
 'start': 81,
 'up': 92,
 'date': 34,
 'person': 69,
 'capac': 23,
 'via': 94,
 'compani': 30}

In [51]:
#new test data 
data = ["o want to have food"]
cv.transform(data).toarray()

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]], dtype=int64)

In [52]:
#new test data 
data = ["i was born to meet ratan tata"]
cv.transform(data).toarray()

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]], dtype=int64)